<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="delimited" type="System.Diagnostics.DelimitedListTraceListener" initializeData="gateway.log.csv" traceOutputOptions="DateTime" delimiter="," />
        <add name="console" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="DateTime" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>