<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <section name="Saga.ServerVars" type="Saga.Configuration.ServerVars, Saga.Map" />
    <section name="Saga.Manager.Quest" type="Saga.Configuration.QuestSettings, Saga.Map" />
    <section name="Saga.Manager.NetworkSettings" type="Saga.Configuration.NetworkSettings, Saga.Map" />
    <section name="Saga.Manager.Database" type="Saga.Configuration.DatabaseSettings, Saga.Map" />
    <section name="Saga.Manager.Scripting" type="Saga.Configuration.ScriptingSettings, Saga.Map" />
    <section name="Saga.Manager.ConsoleSettings" type="Saga.Configuration.ConsoleSettings, Saga.Map" />
    <section name="Saga.Factory.Addition" type="Saga.Configuration.AdditionSettings, Saga.Map" />
    <section name="Saga.Factory.Spells" type="Saga.Configuration.SpellSettings, Saga.Map" />
    <section name="Saga.Factory.StatusByLevel" type="Saga.Configuration.StatusByLevelSettings, Saga.Map" />
    <section name="Saga.Factory.Warps" type="Saga.Configuration.WarpSettings, Saga.Map" />
    <section name="Saga.Factory.Zones" type="Saga.Configuration.ZoneSettings, Saga.Map" />
    <section name="Saga.Factory.Items" type="Saga.Configuration.ItemSettings, Saga.Map" />
    <section name="Saga.Factory.Weaponary" type="Saga.Configuration.WeaponarySettings, Saga.Map" />
    <section name="Saga.Factory.SpawnTemplate" type="Saga.Configuration.SpawntemplateSettings, Saga.Map" />
    <section name="Saga.Factory.SpawnWorldObjects" type="Saga.Configuration.SpawnWorldObjectSettings, Saga.Map" />
    <section name="Saga.Factory.SpawnMultiWorldObjects" type="Saga.Configuration.SpawnMultiWorldObjectSettings, Saga.Map" />
    <section name="Saga.Factory.Portals" type="Saga.Configuration.PortalSettings, Saga.Map" />
    <section name="Saga.Factory.Events" type="Saga.Configuration.EventSettings, Saga.Map" />
    <section name="Saga.Factory.CharacterConfiguration" type="Saga.Configuration.CharacterConfigurationSettings, Saga.Map" />
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="delimited" type="System.Diagnostics.DelimitedListTraceListener" initializeData="zone.log.csv" traceOutputOptions="DateTime" delimiter="," />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>

  <!-- Data Directory -->
  <Saga.ServerVars datadir="../Data/" />

  <!-- Network Settings -->
  <Saga.Manager.NetworkSettings world="1" playerlimit="60" proof="c4ca4238a0b923820dcc509a6f75849b">
    <Connections>
      <add connection="public" host="0.0.0.0" port="64001" />
      <add connection="internal" host="127.0.0.1" port="64002" />
    </Connections>
  </Saga.Manager.NetworkSettings>

  <!-- Console settings -->
  <Saga.Manager.ConsoleSettings
	commandprefix="@"
	outputcommand="true">
    <Commands />
    <GmCommands>
      <add path="Saga.Scripting.Console.Broadcast" />
      <add path="Saga.Scripting.Console.Position" />
      <add path="Saga.Scripting.Console.ChatMute" />
      <add path="Saga.Scripting.Console.GmWarptomap" />
      <add path="Saga.Scripting.Console.PlayerJump" />
      <add path="Saga.Scripting.Console.PlayerCall" />
      <add path="Saga.Scripting.Console.Speed" />
      <add path="Saga.Scripting.Console.GarbageCollector" />
      <add path="Saga.Scripting.Console.ClearNpc" />
      <add path="Saga.Scripting.Console.KickAll" />
      <add path="Saga.Scripting.Console.Kick" />
      <add path="Saga.Scripting.Console.Time" />
      <add path="Saga.Scripting.Console.ShowMaintenance" />
      <add path="Saga.Scripting.Console.ScheduleMaintenance" />
      <add path="Saga.Scripting.Console.SetGmLevel" />
      <add path="Saga.Scripting.Console.Spawn" />
      <add path="Saga.Scripting.Console.Unspawn" />
      <add path="Saga.Scripting.Console.GiveItem" />
      <add path="Saga.Scripting.Console.QStart" />
      <add path="Saga.Scripting.Console.Kill" />
      <add path="Saga.Scripting.Console.Worldload" />
      <add path="Saga.Scripting.Console.Gmgo" />
    </GmCommands>
  </Saga.Manager.ConsoleSettings>

  <!-- Load all portals -->
  <Saga.Factory.Portals>
    <Files>
      <add path="../Data/portal_data.csv" format="text/csv" />
    </Files>
  </Saga.Factory.Portals>

  <!-- Load all configuration -->
  <Saga.Factory.CharacterConfiguration>
    <Files>
      <add path="../Data/character-template.csv" format="text/csv" />
    </Files>
  </Saga.Factory.CharacterConfiguration>

  <!-- Structurize all default paths -->
  <Saga.Manager.Database
      username="root"
      password="root"
      port="3306"
      database="sagarev"
      provider="Saga.Map.Data.Mysql.dll, Saga.Map.Data.Mysql.MysqlProvider" />

  <Saga.Manager.Quest
     directory="../Quests/"
     sdirectory="../Data/Scenario.Quests/"
     provider="Saga.Map.Data.LuaQuest.dll, Saga.Map.Data.LuaQuest.LuaQuestProvider"
     scenarioprovider="Saga.Map.Data.LuaQuest.dll, Saga.Map.Data.LuaQuest.ScenarioLuaQuest" />

  <!-- Structurize all default paths -->
  <Saga.Manager.Scripting directory="../Saga.Scripting">
    <Assemblies>
      <add path="LuaInterface.dll" />
      <add path="System.dll" />
      <add path="System.Data.dll" />
      <add path="System.Xml.dll" />
    </Assemblies>
  </Saga.Manager.Scripting>

  <!-- Load all files for the addition table  -->
  <Saga.Factory.Addition reference="../Data/addition_reference.csv">
    <Files>
      <add path="../Data/Addition_t.xml" format="text/xml" />
    </Files>
  </Saga.Factory.Addition>

  <!-- Load all files for the spell table  -->
  <Saga.Factory.Spells reference="../Data/skill_reference.csv">
    <Files>
      <add path="../Data/spell_data.xml" format="text/xml" />
    </Files>
  </Saga.Factory.Spells>

  <!-- Load all statusbywlevel -->
  <Saga.Factory.StatusByLevel>
    <Files>
      <add path="../Data/experience.csv" format="text/csv" />
    </Files>
  </Saga.Factory.StatusByLevel>

  <!-- Load all warps -->
  <Saga.Factory.Warps>
    <Files>
      <add path="../Data/warp_data.csv" format="text/csv" />
    </Files>
  </Saga.Factory.Warps>

  <!-- Load all zones -->
  <Saga.Factory.Zones directory="../Data/heightmaps">
    <Files>
      <add path="../Data/zone_data.csv" format="text/csv" />
    </Files>
  </Saga.Factory.Zones>

  <!-- Load all items -->
  <Saga.Factory.Items>
    <Files>
      <add path="../Data/item_data.xml" format="text/xml" />
    </Files>
  </Saga.Factory.Items>

  <!-- Load all items -->
  <Saga.Factory.Weaponary>
    <Files>
      <add path="../Data/weapon_data.csv" format="text/csv" />
    </Files>
  </Saga.Factory.Weaponary>

  <!-- Load all spawn templates -->
  <Saga.Factory.SpawnTemplate>
    <Files>
      <add path="../Data/npc_templates.csv" format="text/csv" />
      <add path="../Data/item_templates.csv" format="text/csv" />
    </Files>
  </Saga.Factory.SpawnTemplate>

  <!-- Load all spawn templates -->
  <Saga.Factory.SpawnWorldObjects type="Saga.Map.Plugins.dll, Saga.Map.Plugins.MultifileSpawnWorldObjects">
    <Files>
      <add path="../Data/npc-spawns/" format="text/csv" />
      <add path="../Data/item-spawns/" format="text/csv" />
    </Files>
  </Saga.Factory.SpawnWorldObjects>

  <!-- Load all spawn templates -->
  <Saga.Factory.SpawnMultiWorldObjects type="Saga.Map.Plugins.dll, Saga.Map.Plugins.MultifileSpawnMultiWorldObjects">
    <Files>
      <add path="../Data/mob-spawns/" format="text/csv" />
    </Files>
  </Saga.Factory.SpawnMultiWorldObjects>

  <!-- Load all items -->
  <Saga.Factory.Events provider="Saga.Map.Data.LuaQuest.dll, Saga.Map.Data.LuaQuest.EventInfo">
    <Files>
      <add path="../Data/eventlist.csv" format="text/csv" />
    </Files>
  </Saga.Factory.Events>
</configuration>